.login-container {
    min-height: calc(100vh - 75px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container::after {
    position: absolute;
    content: '';
    background: url("../../img/paws.jpg") repeat center center fixed;
    background-size: contain;
    opacity: 0.1;
    top: 70px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;   
}

.login-form {
    max-width: 350px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
	width: 80%;
    color: #555;
	background: #fff;
	outline: none;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
    transition: 0.3s ease-in-out;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
    outline: 0;
    box-shadow: 0 3px 0 #43D1AF;
}

.login-button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
	width: 80%;
	padding: 3%;
	background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
	border-right-style: none;
	border-left-style: none;
    border-radius: 25px;	
    color: #fff;
    cursor: pointer;
}

.login-button:hover {
	background: #2EBC99;
}