.product-container {
    min-height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.product-container::after {
    position: absolute;
    content: '';
    background: url("../../img/paws.jpg") repeat center center fixed;
    background-size: contain;
    opacity: 0.1;
    top: 70px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;   
}

.product-container div {
    margin-top: 10px;
}

.add-cart {
    width: 100%;
    max-width: 250px;
    padding: 10px;
	background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
	border-right-style: none;
	border-left-style: none;
    border-radius: 25px;	
    color: #fff;
    cursor: pointer;
}

.add-cart:hover {
	background: #2EBC99;
}

.product-form {
    min-width: 320px;
    width: 100%;
}

.product-form form {
    margin-top: 20px;
}

.product-form input[type="text"],
.product-form input[type="number"] {
	width: 80%;
    color: #555;
	background: #fff;
	outline: none;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
    transition: 0.3s ease-in-out;
}

.product-form input[type="text"]:focus,
.product-form input[type="number"]:focus {
    outline: 0;
    box-shadow: 0 3px 0 #43D1AF;
}

.add-product {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
	width: 80%;
	padding: 3%;
	background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
	border-right-style: none;
	border-left-style: none;
    border-radius: 25px;	
    color: #fff;
    cursor: pointer;
}

.add-product:hover {
	background: #2EBC99;
}

.view-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.split-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.split-left {
    min-width: 320px;
    width: calc(50% - 300px);
}

@media screen and (max-width: 650px) {
    .split-form {
        flex-direction: column;
    }

    .split-right, .split-left {
        width: 100%;
    }

}